@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body {
    background-image: url('../images/sky.jpg');
    background-position:center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
}

section {
    background-color: transparent;
    border: #2f2f2f solid 1px;
    border-radius: 10px;
    padding: 40px;
    /*margin-bottom: 10px;*/
    /*transform: rotate(30deg);*/
    /*transform: rotateY(30deg);*/
    transform: rotateX(10deg);
}

section:hover{
    /*transform: rotateY(-30deg);*/
    transform: rotateX(-10deg);
}

.wrapper {
    width: 85%;
    margin: 20px auto;
    perspective: 1000px;
}

h1 {
    display: none;
}

h2, h3 {
    font-family: sans-serif;
}

h2 {
    margin: 0 0 20px 0;
    text-transform: uppercase;
    font-size: 18px;
}

#my_info h2 {
    display: none;
}

@keyframes roll {
    100%{transform: rotate(360deg)};
}

#my_info img {
    animation-name: roll;
    animation-duration: 1s;
    animation-iteration-count: 1;

    width: 100px;
    height: auto;
    border-radius: 50px;
    margin-right: 40px;
} 

table {
    display: inline-block;
    border-collapse: collapse;
    border-spacing: 0;
    vertical-align: top;
}

th {
    text-align: left;
    padding-right: 20px;
}

th, td {
    font-size: 12px;
}

#myname th {
    display: none;
}

#myname td {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

nav{
    position: fixed;
    top :  10px;
    right: 10px;/*perspective 때문에 고장났나? 정답*/
}

a { 
    color: inherit;
    text-decoration: none;
    display: block;
}

a:hover {
    background-color: black;
    text-decoration: underline;
    color: gold;
}

ul {
    border: 1px solid black;
    background-color: inherit;
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 4px;
}

ul li::before {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 10px;
}
/*
ul li:nth-child(1)::before {
    content: url('../images/ico_mobile.png');
}
ul li:nth-child(2)::before {
    content: url('../images/ico_email.png');
}
ul li:nth-child(3)::before {
    content: url('../images/ico_facebook.png');
}
ul li:nth-child(4)::before {
    content: url('../images/ico_blog.png');
}
*/
#skill ol {
    list-style: none;
    padding: 0;
}

#skill li {
    display: inline-block;
    background-color: gold;
    padding: 4px 10px;
    border-radius: 32px;
    margin: 0 8px 8px 0;
}

#skill li.false{
    color:white;
    background-color: blue;
}
/*
.false{
    color:white;
    background-color: blue; 이건 적용이 안됨
}
*/
#skill li::before {
    content: "#";
}

@keyframes hide{
    0%{color: black;}
    50%{background-color: gold;}
    100%{color: black;background-color: gold;}
}

.false:hover{
    animation-name: hide;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

#project p{
    color: gold;
}

#project ol {
    list-style: none;
    padding: 0;
}

#project li {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

#project li:last-child {
    border-bottom: none;
}

#project video {
    width: 100%;
}

#project a {
    color: gold;
    display: inline-block;
    border-radius: 4px;
    padding: 2px 8px 2px 0;
}

#project a:hover {
    background-color: #2f2f2f;
    text-decoration: none;
    padding: 2px 8px;
    transition: padding 0.2s;
}